<header class="header">
  <div class="content">
    <%= image_tag 'logo.svg', width: "185px", alt: "Loadar logo vector." %>
    <%= link_to "Shop", shop_url %>
    <%= link_to "Cart", cart_url %>
  </div>
</header>
