<div id="<%= dom_id order_adjustment %>">
  <p>
    <strong>Order:</strong>
    <%= order_adjustment.order_id %>
  </p>

  <p>
    <strong>Discount:</strong>
    <%= order_adjustment.discount_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= order_adjustment.amount %>
  </p>

</div>
