<div id="<%= dom_id discount %>">
  <p>
    <strong>Name:</strong>
    <%= discount.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= discount.amount %>
  </p>

  <p>
    <strong>Limit:</strong>
    <%= discount.limit %>
  </p>

</div>
